# Trash
.DS_Store
Thumbs.db
tmp
.task
Brewfile.lock.json
*.log

# Terraform
.terraform.lock.hcl
.tfplan

# Kubernetes
kubeconfig
talosconfig

# Secrets
identity
.envrc
*.agekey
*.pub
*.key
*.pem
*.crt
*.csr
